# Data Science Course Notebook

## Introduction
This notebook covers various aspects of data science, including programming languages, libraries, tools, and basic arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras


## Data Science Tools

| Tool             | Description                          |
|-----------------|----------------------------------|
| Jupyter Notebook | Interactive computing environment |
| RStudio         | IDE for R language               |
| Apache Spark    | Big data processing framework    |
| TensorFlow      | Machine learning framework      |
| Tableau        | Data visualization tool          |

## Arithmetic Expressions
Arithmetic expressions can be used for various calculations such as addition, multiplication, and division.

In [ ]:

# Multiply and add numbers
result = (3 * 4) + 5
result

In [ ]:

# Convert minutes to hours
minutes = 200
hours = minutes / 60
hours


## Objectives

- List popular data science languages
- Identify commonly used data science libraries
- Explore data science tools
- Perform arithmetic operations
- Convert time units in Python

## Author
**Kevin Pulikkottil**